.imageTable{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
}
.editBtn{
  i{
    font-weight: 100;
    transition: color 0.5s;
  }
  i:hover{
    color: white;
  }
}
.delBtn{
  i{
    font-weight: 100;
    transition: color 0.5s;
  }
  i:hover{
    color: #f75c5c;
  }
}
.admin-panel{
  height: 250px;
}