body{
  background-color: $bgColor;
}

.card-panel{
  position: relative;
}
.padding-panel{
  padding: 12px !important;
}
.tooltip{
  cursor: pointer;
}
#overview_datatable{
  th:hover{
    cursor: pointer;
    color: $secColor;
  }
}

.text-small{
  font-size: 11px;
}

//clearfix
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}