.domainStats{
  cursor: pointer;
}

.domain{
  padding-bottom: 60px !important;
  .inputDateRight{
    position: absolute;
    right: 10px;
    bottom: 0px;
    input{
      width: 90px;
      margin-right: 10px;
      text-align: center;
      border-bottom: 2px solid $mainColor;
    }
  }
}