.flag-scroll{
  height: 400px;
  overflow: scroll;
  .flag-panel{
    position: relative;
    padding: 15px;
    .time{
      font-size: 10px;
      float: right;
      i{
        margin: 0px;
      }
    }
    .flagHead{
      margin: 0px;
      font-weight: bold;
      font-size: 16px;
    }
    .image{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid black;
      margin: 8px 8px 0px 0px;
      float: left;
    }
    .content{
      .author{
        font-size: 13px;
        margin: 5px 0px 0px 0px;
      }
      .body{
        margin: 0px;
      }
    }

    a{
      color: black;
    }
    a:hover{
      color: $mainColor;
    }

    .text-red{
      color: #f44336;
    }
    .text-orange{
      color: #ff9800;
    }
    .text-green{
      color: #4caf50;
    }
  }
  .loadMore{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .loadedFlags{
    display: none;
  }
}

.note-panel{
  margin-top: 10px;
  .note-head{
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
  }
}


