.home{
  margin: 0px;

  .reputation{
    position: relative;
    font-size: 30px;
    font-weight: bolder;
    height: 220px;
    .reputation-head{
      color: black;
      font-weight: bold;
    }
    .low{
      float: left;
    }
    .avg{
      font-size: 60px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .high{
      float: right;
    }
  }

  .volume{
    height: 220px;
    text-align: center;
    .volume-head{
      color: black;
      font-weight: bold;
      margin-bottom: 25px;
    }
    h5{
      color: black;
      b{
        color: $mainColor;
      }
    }
  }

  .flag-head{
    a{
      color: $mainColor;
      h5{
        font-weight: bold;
      }
    }
    .card-panel{
      padding: 5px;
      margin-bottom: 5px;
    }
  }
  .home-feed{
    height: 100%;
  }

  .mailRow{
    cursor: pointer;
  }
  .mailRow:hover{
    background-color: darken(#f2f2f2, 10%);
  }
}