body.login{
  background: white url("../img/login_bg.jpg") no-repeat center center fixed;
  background-size: cover;
}
.topbar{
  height: 50px;
  width: 100%;
  background-color: black;
}
.login-btn{
  width: 100%;
}
.login-card{
  margin-top: 100px;
}

@media only screen and (min-width: 850px) {
  .login-card{
    margin: 100px 70px
  }
}
@media only screen and (min-width: 990px) {
  .login-card{
    margin: 100px 20px
  }
}
@media only screen and (min-width: 1150px) {
  .login-card{
    margin: 100px 50px
  }
}
@media only screen and (min-width: 1350px) {
  .login-card{
    margin: 100px 100px
  }
}
@media only screen and (min-width: 1550px) {
  .login-card{
    margin: 100px 150px
  }
}
