.mailing{
  cursor: pointer;
}
#loadMails,#getMails{
  width: 50%;
  margin: 0 auto;
}
#monthSelect{
  border: 1px solid #aaa;
  border-radius: 2px;
  height: 35px;
  margin: 10px 0px;
}
#monthSelect:focus{
  outline: 0;
}

.smallBtn{
  font-size: 10px;
  line-height: 25px;
  height: 25px;
  padding: 0px 5px;
  font-weight: 300;
  margin-left: 5px;
  i.right{
    margin-left: 5px;
  }
}
#complaintModal{
  overflow: hidden;
  h4{
    font-size: 24px;
  }
  .complaints{
    height: 210px;
    overflow: scroll;
  }
  #pieChart{
    margin-top: -80px;
  }
}
#hardbounceModal{
  max-height: 80% !important;
}

//overwriting some default select2 styles
.select2-container{
  height: 35px;
  margin-top: 12px !important;
  .select2-selection{
    height: 100% !important;
    border-radius: 2px !important;
    .select2-selection__rendered{
      padding-top: 3px !important;
    }
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $mainColor !important;
}
.select2-dropdown {
  border: 1px solid #aaa !important;
  border-radius: 2px !important;
}