/*checkbox*/
[type="checkbox"]:checked + label:before {
  border-right: 2px solid $mainColor;
  border-bottom: 2px solid $mainColor;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: $mainColor;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $mainColor;
}
/* label underline focus color */
input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus{
  border-bottom: 1px solid $mainColor !important;
  box-shadow: 0 1px 0 0 $mainColor !important;
}
/* loading bar*/
.progress{
  background-color: $secColor !important;
}
.progress .indeterminate {
  background-color: $tetColor !important;
}
/* datepicker */
.picker__weekday-display {
	background-color: $tetColor;
}
.picker__date-display {
	background-color: $mainColor;
}
.picker__nav--prev:hover, .picker__nav--next:hover {
	background: $secColor;
}
.picker__day.picker__day--today {
	color: $mainColor;
}
.picker__close, .picker__today {
	color: $mainColor;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: $mainColor;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
	background-color: $secColor;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
	background-color: $secColor;
}

/* changing modal for flagging*/
.bottom-sheet{
  width: 50% !important;
  margin: 0 auto !important;
  border-radius: 3px 3px 0px 0px !important;
}

/* chaning color of material dropdowns */
.dropdown-content li>a, .dropdown-content li>span {
  color: $mainColor;
}

/* switch */
.switch label input[type=checkbox]:checked+.lever {
  background-color: $secColor;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: $mainColor;
}