.navbar-fixed{
  height: 56px !important;
  nav{
    background-color: black;
    z-index: 9;
    line-height: 47px;
    height: 50px;
    #nav-mobile{
      font-size: 13px;
      li.active{
        border-bottom: 3px solid $mainColor;
        a{
          color: $mainColor !important;
        }
      }
      li{
        a{
          padding: 0px 10px;
        }
      }
      li:hover{
        border-bottom: 3px solid $secColor;
        a:hover{
          color: $secColor !important;
        }
      }
      .iAnchor{
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        padding: 0px 5px;
        #initials {
          display: block;
          background-color: $mainColor;
          border-radius: 50%;
          color: black;
          width: 30px;
          height: 30px;
          font-weight: bold;
          margin: 10px 5px 0px 5px;
          line-height: 32px;
          text-align: center;
        }
      }
      .iAnchor:hover{
        background-color: white;
      }
      .noBorder:hover{
        border-bottom: 0px;
      }
      .dropdown-content {
        li{
          a{
            color: $mainColor;
            padding: 1rem 1rem;
          }
        }
        li:hover{
          border-bottom: 0px;
        }
      }
    }
    .button-collapse i{
      line-height: 50px !important;
    }
    .home-button{
      width: 250px;
      height: 47px;
      background-image: url('../img/logo.png');
    }
  }
}