.inputDaysRight{
  position: absolute;
  right: 20px;
  top: 20px;
  input{
    width: 40px;
    text-align: center;
  }
}
.textRed{
  font-weight: bold;
  color: $red;
}
.textOrange{
  font-weight: bold;
  color: $orange;
}
.textGreen{
  font-weight: bold;
  color: $green;
}

@media screen and (max-width: 600px) {
  .inputDaysRight {
    margin-top: 80px;
    z-index: 999;
  }
}
@media screen and (max-width: 535px) {
  .inputDaysRight {
    margin-top: 100px;
    z-index: 999;
  }
}
@media screen and (max-width: 445px) {
  .inputDaysRight {
    margin-top: 120px;
    z-index: 999;
  }
}
@media screen and (max-width: 350px) {
  .inputDaysRight {
    margin-top: 140px;
    z-index: 999;
  }
}
@media screen and (max-width: 310px) {
  .inputDaysRight {
    margin-top: 160px;
    z-index: 999;
  }
}
