.settingsWrapper{
  margin-top: 20px;
  width: 100%;
  #settingsForm{
    .block{
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
      height: 220px;
      .textWrap{
        margin: 0px;
        input[type=number]{
          width: 35px;
          margin: 0px;
        }
      }
      .switch{
        text-align: center;
      }
    }
  }
}
