.traffic-panel{
  padding-bottom: 50px !important;
  .inputDateRight{
    position: absolute;
    right: 10px;
    bottom: 0px;
    input{
      width: 90px;
      margin-right: 10px;
      text-align: center;
      border-bottom: 2px solid $mainColor;
    }
    .tooltip{
      font-weight: bold;
    }
  }
}