.profile_img{
  display: block;
  background-color: $mainColor;
  border-radius: 50%;
  color: black;
  width: 90px;
  height: 90px;
  font-weight: bold;
  margin: 0px auto 10px auto;
  line-height: 90px;
  text-align: center;
  border: 2px solid black;
  font-size: 29px;
  img{
    border-radius: 50%;
  }
}
.profile_img:hover{
  cursor: pointer;
  color: white;
}
.file-field{
  .btn{
    background-color: $mainColor;
  }
}

#openNotifications{
  font-size: 10px;
  line-height: 20px;
  padding: 8px;
  height: 35px;
}