body {
  background-color: #fcfcfc; }

.card-panel {
  position: relative; }

.padding-panel {
  padding: 12px !important; }

.tooltip {
  cursor: pointer; }

#overview_datatable th:hover {
  cursor: pointer;
  color: #b2ebf2; }

.text-small {
  font-size: 11px; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.navbar-fixed {
  height: 56px !important; }
  .navbar-fixed nav {
    background-color: black;
    z-index: 9;
    line-height: 47px;
    height: 50px; }
    .navbar-fixed nav #nav-mobile {
      font-size: 13px; }
      .navbar-fixed nav #nav-mobile li.active {
        border-bottom: 3px solid #4dd0e1; }
        .navbar-fixed nav #nav-mobile li.active a {
          color: #4dd0e1 !important; }
      .navbar-fixed nav #nav-mobile li a {
        padding: 0px 10px; }
      .navbar-fixed nav #nav-mobile li:hover {
        border-bottom: 3px solid #b2ebf2; }
        .navbar-fixed nav #nav-mobile li:hover a:hover {
          color: #b2ebf2 !important; }
      .navbar-fixed nav #nav-mobile .iAnchor {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        padding: 0px 5px; }
        .navbar-fixed nav #nav-mobile .iAnchor #initials {
          display: block;
          background-color: #4dd0e1;
          border-radius: 50%;
          color: black;
          width: 30px;
          height: 30px;
          font-weight: bold;
          margin: 10px 5px 0px 5px;
          line-height: 32px;
          text-align: center; }
      .navbar-fixed nav #nav-mobile .iAnchor:hover {
        background-color: white; }
      .navbar-fixed nav #nav-mobile .noBorder:hover {
        border-bottom: 0px; }
      .navbar-fixed nav #nav-mobile .dropdown-content li a {
        color: #4dd0e1;
        padding: 1rem 1rem; }
      .navbar-fixed nav #nav-mobile .dropdown-content li:hover {
        border-bottom: 0px; }
    .navbar-fixed nav .button-collapse i {
      line-height: 50px !important; }
    .navbar-fixed nav .home-button {
      width: 250px;
      height: 47px;
      background-image: url("../img/logo.png"); }

.home {
  margin: 0px; }
  .home .reputation {
    position: relative;
    font-size: 30px;
    font-weight: bolder;
    height: 220px; }
    .home .reputation .reputation-head {
      color: black;
      font-weight: bold; }
    .home .reputation .low {
      float: left; }
    .home .reputation .avg {
      font-size: 60px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .home .reputation .high {
      float: right; }
  .home .volume {
    height: 220px;
    text-align: center; }
    .home .volume .volume-head {
      color: black;
      font-weight: bold;
      margin-bottom: 25px; }
    .home .volume h5 {
      color: black; }
      .home .volume h5 b {
        color: #4dd0e1; }
  .home .flag-head a {
    color: #4dd0e1; }
    .home .flag-head a h5 {
      font-weight: bold; }
  .home .flag-head .card-panel {
    padding: 5px;
    margin-bottom: 5px; }
  .home .home-feed {
    height: 100%; }
  .home .mailRow {
    cursor: pointer; }
  .home .mailRow:hover {
    background-color: #d8d8d8; }

.inputDaysRight {
  position: absolute;
  right: 20px;
  top: 20px; }
  .inputDaysRight input {
    width: 40px;
    text-align: center; }

.textRed {
  font-weight: bold;
  color: #f44336; }

.textOrange {
  font-weight: bold;
  color: #ff9800; }

.textGreen {
  font-weight: bold;
  color: #4caf50; }

@media screen and (max-width: 600px) {
  .inputDaysRight {
    margin-top: 80px;
    z-index: 999; } }

@media screen and (max-width: 535px) {
  .inputDaysRight {
    margin-top: 100px;
    z-index: 999; } }

@media screen and (max-width: 445px) {
  .inputDaysRight {
    margin-top: 120px;
    z-index: 999; } }

@media screen and (max-width: 350px) {
  .inputDaysRight {
    margin-top: 140px;
    z-index: 999; } }

@media screen and (max-width: 310px) {
  .inputDaysRight {
    margin-top: 160px;
    z-index: 999; } }

.traffic-panel {
  padding-bottom: 50px !important; }
  .traffic-panel .inputDateRight {
    position: absolute;
    right: 10px;
    bottom: 0px; }
    .traffic-panel .inputDateRight input {
      width: 90px;
      margin-right: 10px;
      text-align: center;
      border-bottom: 2px solid #4dd0e1; }
    .traffic-panel .inputDateRight .tooltip {
      font-weight: bold; }

.customer-panel {
  padding-bottom: 50px; }
  .customer-panel .inputMonthsRight {
    position: absolute;
    right: 20px;
    bottom: 0px;
    width: 250px; }
    .customer-panel .inputMonthsRight input {
      width: 50px; }

.mailing {
  cursor: pointer; }

#loadMails, #getMails {
  width: 50%;
  margin: 0 auto; }

#monthSelect {
  border: 1px solid #aaa;
  border-radius: 2px;
  height: 35px;
  margin: 10px 0px; }

#monthSelect:focus {
  outline: 0; }

.smallBtn {
  font-size: 10px;
  line-height: 25px;
  height: 25px;
  padding: 0px 5px;
  font-weight: 300;
  margin-left: 5px; }
  .smallBtn i.right {
    margin-left: 5px; }

#complaintModal {
  overflow: hidden; }
  #complaintModal h4 {
    font-size: 24px; }
  #complaintModal .complaints {
    height: 210px;
    overflow: scroll; }
  #complaintModal #pieChart {
    margin-top: -80px; }

#hardbounceModal {
  max-height: 80% !important; }

.select2-container {
  height: 35px;
  margin-top: 12px !important; }
  .select2-container .select2-selection {
    height: 100% !important;
    border-radius: 2px !important; }
    .select2-container .select2-selection .select2-selection__rendered {
      padding-top: 3px !important; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4dd0e1 !important; }

.select2-dropdown {
  border: 1px solid #aaa !important;
  border-radius: 2px !important; }

.domainStats {
  cursor: pointer; }

.domain {
  padding-bottom: 60px !important; }
  .domain .inputDateRight {
    position: absolute;
    right: 10px;
    bottom: 0px; }
    .domain .inputDateRight input {
      width: 90px;
      margin-right: 10px;
      text-align: center;
      border-bottom: 2px solid #4dd0e1; }

.profile_img {
  display: block;
  background-color: #4dd0e1;
  border-radius: 50%;
  color: black;
  width: 90px;
  height: 90px;
  font-weight: bold;
  margin: 0px auto 10px auto;
  line-height: 90px;
  text-align: center;
  border: 2px solid black;
  font-size: 29px; }
  .profile_img img {
    border-radius: 50%; }

.profile_img:hover {
  cursor: pointer;
  color: white; }

.file-field .btn {
  background-color: #4dd0e1; }

#openNotifications {
  font-size: 10px;
  line-height: 20px;
  padding: 8px;
  height: 35px; }

.flag-scroll {
  height: 400px;
  overflow: scroll; }
  .flag-scroll .flag-panel {
    position: relative;
    padding: 15px; }
    .flag-scroll .flag-panel .time {
      font-size: 10px;
      float: right; }
      .flag-scroll .flag-panel .time i {
        margin: 0px; }
    .flag-scroll .flag-panel .flagHead {
      margin: 0px;
      font-weight: bold;
      font-size: 16px; }
    .flag-scroll .flag-panel .image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid black;
      margin: 8px 8px 0px 0px;
      float: left; }
    .flag-scroll .flag-panel .content .author {
      font-size: 13px;
      margin: 5px 0px 0px 0px; }
    .flag-scroll .flag-panel .content .body {
      margin: 0px; }
    .flag-scroll .flag-panel a {
      color: black; }
    .flag-scroll .flag-panel a:hover {
      color: #4dd0e1; }
    .flag-scroll .flag-panel .text-red {
      color: #f44336; }
    .flag-scroll .flag-panel .text-orange {
      color: #ff9800; }
    .flag-scroll .flag-panel .text-green {
      color: #4caf50; }
  .flag-scroll .loadMore {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .flag-scroll .loadedFlags {
    display: none; }

.note-panel {
  margin-top: 10px; }
  .note-panel .note-head {
    font-weight: bold;
    font-size: 15px;
    margin: 0px; }

.imageTable {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white; }

.editBtn i {
  font-weight: 100;
  transition: color 0.5s; }

.editBtn i:hover {
  color: white; }

.delBtn i {
  font-weight: 100;
  transition: color 0.5s; }

.delBtn i:hover {
  color: #f75c5c; }

.admin-panel {
  height: 250px; }

.settingsWrapper {
  margin-top: 20px;
  width: 100%; }
  .settingsWrapper #settingsForm .block {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    height: 220px; }
    .settingsWrapper #settingsForm .block .textWrap {
      margin: 0px; }
      .settingsWrapper #settingsForm .block .textWrap input[type=number] {
        width: 35px;
        margin: 0px; }
    .settingsWrapper #settingsForm .block .switch {
      text-align: center; }

.table-panel {
  padding: 0px !important;
  overflow: scroll; }

.click-rows tbody tr {
  cursor: pointer; }

/* -- datatable controls --------------------- */
#overview_datatable_wrapper {
  position: relative; }

#overview_datatable_info {
  text-align: center; }

#overview_datatable_paginate {
  margin: 10px 0px;
  padding-bottom: 10px;
  text-align: center; }
  #overview_datatable_paginate a {
    padding-right: 4px;
    cursor: pointer; }
  #overview_datatable_paginate a:hover {
    text-decoration: underline; }

#overview_datatable_length label {
  padding: 10px 0px 0px 10px;
  font-size: 13px;
  float: left; }
  #overview_datatable_length label select {
    float: left;
    margin-top: 5px; }

#overview_datatable_filter {
  position: absolute;
  right: 10px; }
  #overview_datatable_filter label {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 13px; }
  #overview_datatable_filter input {
    width: 200px;
    margin-top: -30px; }

@media only screen and (max-width: 992px) {
  #overview_datatable_length {
    position: absolute;
    bottom: 1px; }
  #overview_datatable_filter {
    bottom: 80px; } }

input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #b2ebf2; }

/* -- Material Design Table style -------------- */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #ffffff;
  box-sizing: content-box; }

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  transition: all 0.3s ease; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
  padding: 1rem;
  vertical-align: top;
  border-top: 0;
  transition: all 0.3s ease; }

.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0; }

.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.table .table {
  background-color: #ffffff; }

.table .no-border {
  border: 0; }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0.8rem; }

.table-bordered {
  border: 0; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0; }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12); }

@media screen and (max-width: 768px) {
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent; }
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none; }
  .table-responsive-vertical > .table > tbody {
    display: block; }
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem; }
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #ffffff;
    display: block;
    vertical-align: middle;
    text-align: right; }
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575; }
  .table-responsive-vertical.shadow-z-1 {
    box-shadow: none; }
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24); }
  .table-responsive-vertical > .table-bordered {
    border: 0; }
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0; }
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0; }
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #ffffff; }
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5; }
  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #ffffff; }
  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12); } }

.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
  background-color: #fde0dc; }

.table-hover.table-mc-red > tbody > tr:hover > td,
.table-hover.table-mc-red > tbody > tr:hover > th {
  background-color: #f9bdbb; }

@media screen and (max-width: 767px) {
  .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td,
  .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr:nth-child(odd) {
    background-color: #ffffff; }
  .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e7e9fd; }
  .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover > td,
  .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover {
    background-color: #ffffff; }
  .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr > td:hover {
    background-color: #d0d9ff; } }

.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > th {
  background-color: #e1f5fe; }

.table-hover.table-mc-light-blue > tbody > tr:hover > td,
.table-hover.table-mc-light-blue > tbody > tr:hover > th {
  background-color: #b3e5fc; }

@media screen and (max-width: 767px) {
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
    background-color: #ffffff; }
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e1f5fe; }
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
    background-color: #ffffff; }
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
    background-color: #b3e5fc; } }

.table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > th {
  background-color: #e0f7fa; }

.table-hover.table-mc-cyan > tbody > tr:hover > td,
.table-hover.table-mc-cyan > tbody > tr:hover > th {
  background-color: #b2ebf2; }

body.login {
  background: white url("../img/login_bg.jpg") no-repeat center center fixed;
  background-size: cover; }

.topbar {
  height: 50px;
  width: 100%;
  background-color: black; }

.login-btn {
  width: 100%; }

.login-card {
  margin-top: 100px; }

@media only screen and (min-width: 850px) {
  .login-card {
    margin: 100px 70px; } }

@media only screen and (min-width: 990px) {
  .login-card {
    margin: 100px 20px; } }

@media only screen and (min-width: 1150px) {
  .login-card {
    margin: 100px 50px; } }

@media only screen and (min-width: 1350px) {
  .login-card {
    margin: 100px 100px; } }

@media only screen and (min-width: 1550px) {
  .login-card {
    margin: 100px 150px; } }

/*checkbox*/
[type="checkbox"]:checked + label:before {
  border-right: 2px solid #4dd0e1;
  border-bottom: 2px solid #4dd0e1; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4dd0e1; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #4dd0e1; }

/* label underline focus color */
input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  border-bottom: 1px solid #4dd0e1 !important;
  box-shadow: 0 1px 0 0 #4dd0e1 !important; }

/* loading bar*/
.progress {
  background-color: #b2ebf2 !important; }

.progress .indeterminate {
  background-color: #00bcd4 !important; }

/* datepicker */
.picker__weekday-display {
  background-color: #00bcd4; }

.picker__date-display {
  background-color: #4dd0e1; }

.picker__nav--prev:hover, .picker__nav--next:hover {
  background: #b2ebf2; }

.picker__day.picker__day--today {
  color: #4dd0e1; }

.picker__close, .picker__today {
  color: #4dd0e1; }

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #4dd0e1; }

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
  background-color: #b2ebf2; }

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
  background-color: #b2ebf2; }

/* changing modal for flagging*/
.bottom-sheet {
  width: 50% !important;
  margin: 0 auto !important;
  border-radius: 3px 3px 0px 0px !important; }

/* chaning color of material dropdowns */
.dropdown-content li > a, .dropdown-content li > span {
  color: #4dd0e1; }

/* switch */
.switch label input[type=checkbox]:checked + .lever {
  background-color: #b2ebf2; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #4dd0e1; }

/*# sourceMappingURL=app.css.map */
